{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<!-- Home-->
<div class="container px-1">
    <img src="{% static 'images/hhwt-logo.png' %}" class="img-fluid" height="450" width="450">
    <h1 class="fw-bolder">Welcome to Hell or High Water Experiences</h1>
    <p class="lead">Trigger or schedule experiences throughout the bar</p>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="manual/" <button class="btn btn-success btn-lg" type="button">Manual</button> </a>
        <a href="scheduler/" <button class="btn btn-info btn-lg" type="button">Scheduler</button> </a>
    </div>
</div>
<br>
{% endblock %}
