{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!-- Scheduler-->
<div class="container px-4 text-center">
    <br>
    <h2>Select Experience</h2>
    <br>
    <form action="">
        <select name="Experience"> 
            <option value="Volcano">Volcano</option>
            <option value="Storm">Storm</option>
            <option value="blink">Blink</option>
        </select>
        <input type="submit" value="Trigger Experience" class="btn btn-primary" onclick="runExperience">
    </form>
</div>
{% endblock %}