{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Scheduler-->
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'schedulenew' %}" <button class="btn btn-success btn-lg" type="button">Schedule New Experience</button> </a>
</div>
    <!-- {% for exp in scheduledexps %}
        <h2>{{ exp.title }}</h2>
        <p>{{ exp.description }}</p>
        <img src="{{ exp.image.url }}"><br>
        {% if exp.url %}
            <a href="{{exp.url}}">Link</a>
        {% endif %}
    {% endfor %} -->
<br>
<div>
    {% for experience in scheduledexperiences %}
    <h2> {{experience.title}} </h2>
    <p> {{experience.description}} </p>
    <img src="{{experience.image.url}}" height=80 width="120">
    {% endfor %}
</div>
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>
{% endblock %}