{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Scheduler-->
<div class="container px-5 text-start">
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Schedule Experience</legend>
            {{ form|crispy }}
            </div><br>
        </fieldset>
            <div class="form-group">
                <input type="submit" value="Schedule Experience" class="btn btn-outline-info">
            </div>
        
    </form>
    <br>
</div>
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>
{% endblock %}